<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <app-breadcrumbs></app-breadcrumbs>

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- Aquí es donde se coloca el <router-outlet>-->
            <!-- ============================================================== -->

            <router-outlet></router-outlet>

            <!--
            // Se comenta el código original del template de Adminpro
            // porque se va a ocupar en el progress.component
            // para poder usar el PROGRESSBAR
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card block.
                        </div>
                    </div>
                </div>
            </div>
            -->

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->



        </div>
        <!-- ============================================================== -->
        <!-- END Container fluid  -->
    </div>
    <!-- ============================================================== -->
    <!-- END Page wrapper  -->
    <!-- ============================================================== -->

</div>