<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- Es el div de la gráfica DONUT -->
                                <div>
                                    <div>
                                        <div style="display: block">
                                            <!--<canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                                            </canvas>
                                        -->
                                            <app-grafico-dona nombreGrafico="grafico1"></app-grafico-dona>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- Es el div de la gráfica DONUT -->
                                <div>
                                    <div>
                                        <div style="display: block">
                                            <!-- <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                                            </canvas> -->
                                            <app-grafico-dona nombreGrafico="grafico2"></app-grafico-dona>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- Es el div de la gráfica DONUT -->
                                <div>
                                    <div>
                                        <div style="display: block">
                                            <!-- <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                                                </canvas> -->
                                            <app-grafico-dona nombreGrafico="grafico3"></app-grafico-dona>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- Es el div de la gráfica DONUT -->
                                <div>
                                    <div>
                                        <div style="display: block">
                                            <!-- <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                                                </canvas> -->
                                            <app-grafico-dona nombreGrafico="grafico4"></app-grafico-dona>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>